body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1B1A16;
    color: #fff;
}

div p{
    color: #d4b1a3;
}
h2{
    margin: 2% auto 5%;
    word-spacing: 1.5rem;

 }

h3{
    color: #DB7231;
    margin-bottom: 20px;
}


/* Title Section */

.navbar{
    margin: 1% 1%;
}

.nav-item{
    padding: 0 18px;
}

.donate{
    font-size: 2rem;
    background:  #DB7231;
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    padding-left: 4%;
    border-radius: 5px;
}

.donate:hover{
    opacity: 0.7;
    color: #000;
    background-color: #f3f3f3;
}

.title-container{
    padding: 3% 7% 6%;
}

.title-container h1{
    
    font-size: 3rem;
    padding:10% 6% 5% 6%;
    line-height: 1.5;
    color: #DB7231;

}
.learn-more{
    margin-left: 6%;
}

.title-image{
    margin: 0 10% 0 20%;
}




 /* landscape Section */


 #gallery{
    padding: 3% 10%;
    background-color: #2D221D;
 }
 .gallery-img{
    height: 600px;
    width: 1200px;
    border-style: hidden;
    border-radius: 10px;
 }

 /* how we Help section */

#service{
    padding: 5% 3%;
    line-height: 1;    
    position: relative;
}

#service::before{
    background-image: url("images/align-fingers2.jpg");
    background-size: cover;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.2;


}

#service h1{
    color:#DB7231;
    margin-bottom: 3%;
    word-spacing: 2rem;
    font-weight: bolder;
    font-size: 3rem;
    isolation: isolate;
}
.card{
    margin: 2%;
    line-height: 1.5;
    background-color: #2D221D;
}

 /* Motive Section */

 #motive{
    text-align: center;
    padding: 3% 15%;
    position: relative;
    background-color: #000;
 }

 #motive::before{
    background-image: url("images/poor-children2.jpg");
    background-size: cover;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.15;

 }
 #motive p{
    color:#DB7231;
    font-size: 3.5rem;
    line-height: 1.5;
    word-spacing: 1rem;
    isolation: isolate ;
    opacity: 2;
 }

 /* testimonial Section */

 .testimonial{
    padding: 2% 0;
    text-align: center;
    background-color: #2D221D;
 }

 /* footer section */
 .footer{
    margin: 5%;
    color: #DB7231;
    line-height: 2;
 }
 .footer-image{
    opacity: 0.2;
 }

 .footer-social{
    text-align: right;
 }
 .footer-icon{
    padding: 3%;
 }
 .social-link{
    text-decoration: none;
    color: #DB7231;
    font-size: 2rem;
 }
 .social-link:hover{
    color: #f3f3f3;
 }